# set chrome to default browser
export BROWSER=/usr/bin/google-chrome-stable

# set terminal to be kitty
export TERMINAL=/usr/bin/alacritty

# enable nvim as default editor
export EDITOR=/usr/bin/nvim

# enable 256 colors
if [ -e /usr/share/terminfo/x/xterm-256color ]; then
        export TERM='xterm-256color'
else
        export TERM='xterm-color'
fi

# disable terminal bell sound
#setterm blength 0

# set less and man also to quiet
alias less='less -Q'
alias man='man -P "less -Q"'

# make sure that ipython always uses the virtualenvironment it is in
alias ipy='python -c "import IPython; IPython.terminal.ipapp.launch_new_instance()"'

# shorthand for copy to clipboard e.g. echo "Hello World" | copy
alias copy='xclip -i -sel c'

# helmpflicht bei root access
alias usehelmet='sudo'

alias n_linebreaks='sed -E ":a;N;$!ba;s/\r{0,1}\n/\\n/g"'
