export QT_QPA_PLATFORMTHEME="qt5ct"
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"

# set chrome to default browser
export BROWSER=/usr/bin/google-chrome-stable

# set terminal to be terminology
export TERMINAL=/usr/bin/terminology

# enable vim as default editor
export EDITOR=/usr/bin/vim

# enable 256 colors
if [ -e /usr/share/terminfo/x/xterm-256color ]; then
        export TERM='xterm-256color'
else
        export TERM='xterm-color'
fi

# init pyenv automatically
eval "$(pyenv init -)"

# virtualenvwrapper
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/Devel
source /usr/bin/virtualenvwrapper.sh

# register to amazon elastic container registry
eval $(aws ecr get-login --no-include-email)

# make sure that ipython always uses the virtualenvironment it is in
alias ipy="python -c 'import IPython; IPython.terminal.ipapp.launch_new_instance()'"
