if &compatible
	set nocompatible
endif

" enable slime for ipython
let g:slime_python_ipython = 1

" let configs
let g:deoplete#enable_at_startup=1

" simplyfold docstring preview
let g:SimpylFold_docstring_preview=1

" color schemes
let g:gruvbox_italic=1

let NERDTreeIgnore=['\.pyc$', '\~$'] "ignore files in NERDTree

let mapleader = ","

" make python code look pretty
let python_highlight_all=1

" Trigger configuration. Do not use <tab> if you use https://github.com/Valloric/YouCompleteMe.
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsJumpForwardTrigger="<c-b>"
let g:UltiSnipsJumpBackwardTrigger="<c-z>"

" If you want :UltiSnipsEdit to split your window.
let g:UltiSnipsEditSplit="vertical"


" ALE CONFIG START
let g:ale_linters = {
\ 'python': ['flake8', 'pylint', 'isort', 'mypy'],
\ 'javascript': ['eslint'], 
\ 'sass': ['sasslint'],
\}

let g:ale_lint_on_text_changed = 1
let g:ale_lint_delay = 300
let g:ale_sign_column_always = 1
let b:ale_fixers = {
\ 'python': ['black'],
\ 'javascript': ['prettier', 'eslint'], 
\ 'ruby': ['rubocop']
\}
let g:ale_lint_on_enter = 1
let g:ale_fix_on_save = 1
"let g:ale_completion_enabled = 1

" Set this. Airline will handle the rest.
"let g:airline#extensions#ale#enabled = 1
" Set this flag so that other plugins can use it, like airline.
let g:loaded_ale = 1

let g:ale_filetype_blacklist = ['nerdtree']

let g:ale_cache_executable_check_failures = 1


let g:ale_sign_error = '•'
let g:ale_sign_warning = '•'
" ALE CONFIG END


" Add the dein installation directory into runtimepath

set runtimepath +=~/.vim/bundles/repos/github.com/Shougo/dein.vim

if dein#load_state('~/.vim/bundles')
	call dein#begin('~/.vim/bundles')

	" mandatory plugins
	call dein#add('~/.vim/bundles/repos/github.com/Shougo/dein.vim')

	" linting and fixing
	call dein#add('w0rp/ale')

	" autocompletion (better than YouCompleteMe)
	call dein#add('Shougo/deoplete.nvim')
	
	" dependencies for deoplete if in vim8
	" There is an issue with the dependencies which is resolved here:
	" https://github.com/roxma/vim-hug-neovim-rpc/issues/28
	" current fix: install python-greenlet with pacman and install neovim
	" in system python
	call dein#add('roxma/nvim-yarp')
	call dein#add('roxma/vim-hug-neovim-rpc')
	
	" file browsing
	call dein#add('scrooloose/nerdtree')
	call dein#add('jistr/vim-nerdtree-tabs')
	call dein#add('Xuyuanp/nerdtree-git-plugin')	

	" git integration
	call dein#add('tpope/vim-fugitive')
	call dein#add('airblade/vim-gitgutter')
	
	" code folding
	call dein#add('tmhedberg/SimpylFold')
	
	" comment out stuff
	call dein#add('scrooloose/nerdcommenter')
	
	" searching for everything
	call dein#add('kien/ctrlp.vim')
	
	" send text to repls like clojure or python
	call dein#add('jpalardy/vim-slime')

	"" status bar
	call dein#add('powerline/powerline')

	" json helper for vim
	call dein#add('elzr/vim-json')
	
	" sonic pi interface
	call dein#add('dermusikman/sonicpi.vim')
	
	" glsl preview
	call dein#add('patriciogonzalezvivo/vim-glslViewer')
	
	" snippets
	call dein#add('SirVer/ultisnips')	
	call dein#add('honza/vim-snippets')

	" wiki hosted from vim	
	call dein#add('vimwiki/vimwiki')

	" Colors
	call dein#add('rakr/vim-togglebg') " plugin to change color on key call
	call dein#add('morhetz/gruvbox')
	" Grammar checker call dein#add('https://github.com/rhysd/vim-grammarous')

	" test dispatcher
	call dein#add('tpope/vim-dispatch')
	
	" costum stuff
	call dein#add('jiangmiao/auto-pairs')
	call dein#add('easymotion/vim-easymotion')
	call dein#add('tpope/vim-surround')	
	call dein#add('simeji/winresizer')
   	
	"""" LANGUAGE SPECIFIC PLUGINS

	"" CLOJURE
	call dein#add('tpope/vim-fireplace')
	call dein#add('tpope/vim-salve')
	call dein#add('tpope/vim-classpath')
	call dein#add('luochen1990/rainbow')
	call dein#add('guns/vim-sexp')
	call dein#add('tpope/vim-sexp-mappings-for-regular-people')
	"TODO: do we need that if we have simplefold?
	call dein#add('gberenfield/cljfold.vim')
	"TODO: do we need eastwood if we have ale?
	call dein#add('venantius/vim-eastwood')
	call dein#add('guns/vim-clojure-static')
	call dein#add('venantius/vim-cljfmt')
     
	"" PYTHON
	call dein#add('plytophogy/vim-virtualenv')
	call dein#add('PieterjanMontens/vim-pipenv')
	
	"html/markdown
	call dein#add('mattn/emmet-vim')
	call dein#add('jtratner/vim-flavored-markdown')
	call dein#add('suan/vim-instant-markdown')
	call dein#add('nelstrom/vim-markdown-preview')	


	" end custom plugins

	call dein#end()
	call dein#save_state()
endif

filetype plugin indent on
syntax enable
syntax on

" If you want to install not installed plugins on startup.
if dein#check_install()
  call dein#install()
endif
 
" set encoding to utf-8
set encoding=utf-8
 
" enable line numbering
set nu

" fix delete bug
set backspace=indent,eol,start
 
" that airlines statusbar is automatically called
set laststatus=2
 
" enable copy paste
set clipboard=unnamedplus

" powerline settings
set laststatus=2 " Always display the statusline in all windows
set showtabline=2 " Always display the tabline, even if there is only one tab
"set noshowmode " Hide the default mode text (e.g. -- INSERT -- below the statusline)
 
" file specific tabs and spaces for python pep8
autocmd Filetype python setlocal expandtab autoindent tabstop=4 shiftwidth=4 softtabstop=4 textwidth=87 colorcolumn=88 fileformat=unix 

" special cases where two tabstops are recommended
autocmd Filetype javascript setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
autocmd Filetype typescript setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
autocmd Filetype json setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
autocmd Filetype jsx setlocal expandtab tabstop=2 shiftwidth=2 softtabstop=2
 
" enable red color with whitespaces
autocmd ColorScheme * highlight BadWhitespace ctermbg=red guibg=red

" starts vim+nerdtree when there is no file given
autocmd VimEnter * if !argc() | NERDTree | endif

" close nerdtree if there is only the file manager open
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif

"split navigations
" is this still useful with nerdtree?
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

colorscheme gruvbox
set t_Co=256
set bg=dark
call togglebg#map("<F5>")

" ALE CONFIG START
nnoremap <leader>ef :ALEFix eslint<Enter>

autocmd ColorScheme * highlight clear SpellBad
autocmd ColorScheme * highlight SpellBad ctermfg=16 ctermbg=18 cterm=undercurl

autocmd ColorScheme * highlight clear SpellCap
autocmd ColorScheme * highlight SpellCap ctermfg=3 ctermbg=18 cterm=undercurl

highlight clear ALEErrorSign
autocmd ColorScheme * highlight ALEErrorSign ctermfg=16 ctermbg=18
autocmd ColorScheme * highlight ALEWarningSign ctermfg=3 ctermbg=18

" open nerdtree on toggle
nnoremap <C-n> :NERDTreeToggle<CR>
