source ~/git/dotfiles/zsh/antigen.zsh

# powerline configs
ZSH_POWERLINE_SHOW_USER=false
ZSH_POWERLINE_SHOW_IP=false
ZSH_POWERLINE_SHOW_TIME=false
ZSH_POWERLINE_SINGLE_LINE=true
#ZSH_POWERLINE_SHOW_GIT_STATUS=false
ZSH_POWERLINE_SHOW_GIT_BRANCH_ONLY=true
#ZSH_POWERLINE_SHOW_RETURN_CODE=false
ZSH_POWERLINE_SHOW_OS=false
#ZSH_POWERLINE_DIRECTORY_DEPTH=1

# Load the oh-my-zsh's library.
antigen use oh-my-zsh

# Bundles from the default repo (robbyrussell's oh-my-zsh).
antigen bundle git
antigen bundle git-flow
antigen bundle heroku
antigen bundle pip
antigen bundle lein
antigen bundle vi-mode
antigen bundle command-not-found
antigen bundle agkozak/zsh-z

# Syntax highlighting bundle.
antigen bundle zsh-users/zsh-syntax-highlighting

# Load the theme.
#antigen theme robbyrussell
antigen theme commanderkelso/oh-my-zsh-gruvbox-powerline-theme gruvbox-powerline

# Tell Antigen that you're done.
antigen apply
